<main>
    <div class="sidebar">
        <div class="sideBare_section">
            <div class="sideBaee_item">
                <a href="#">Кошельки</a>
            </div>
            <div class="sideBaee_item">
                <a href="#">Потупления</a>
            </div>
            <div class="sideBaee_item">
                <a href="#">Расходы</a>
            </div>
            <div class="sideBaee_item">
                <a href="#">Транзакции</a>
            </div>
            <div class="sideBaee_item">
                <a href="#">Статистика</a>
            </div>
        </div>
    </div>
</main>