.example-spacer {
    flex: 1 1 auto;
  }
.center-container{
    width: 100%;
    display: flex;
    justify-content: center;
}  
.button-wrapper{
    margin: 0 auto;
    width:40%;
    display: flex;
    justify-content: space-around;
}  
.new-income{
    color:#1cd91c;
}
.new-expence{
    color: #f89c9c;
}