<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon  (click)="open()">menu</mat-icon>
    </button>
    <span>ManageYourMoney</span>
    
    <div class='center-container'>
        <div class='button-wrapper'>
            <button   class='new-income'  mat-stroked-button color="lightGreen">Income</button>
            <!-- <button class='new-income' mat-raised-button>Income</button> -->
            <!-- <button class='new-expence' mat-raised-button>Expence</button> -->
            <button class='new-expence'   mat-stroked-button color="warn">Expence</button>
        </div> 
    </div>
   
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>