app-footer{
    position: absolute;
    left: 0;
    top: 93Vh;
    width: 100%
}
.container{
    height: 82.5vh;
}
.sidenav{
    padding: 2rem
}

.sidenav-content{
    width: 100%;
    height: 100%
}