<app-header (openSideBar)="open()"></app-header>





<!-- <mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose> -->
   

  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <P>
          <button mat-button>
              Кошельки
            </button>
        </P>
      <P><button mat-button>Расходы</button></P> 
      <P><button mat-button>Постпления</button></P> 
      <P><button mat-button>Транзакции</button></P> 
      <P><button mat-button>Колендарь</button></P> 
      <p><button mat-button>Статистика</button></p>
 
    </mat-drawer>
  
    <div class="sidenav-content" (click)="close()">
        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  <!-- <mat-sidenav-content  style ='height: 81.5vh;'>
   
     <p><button mat-button>Open</button></p> -->
  <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->

<app-footer></app-footer>