
 <div *ngIf="form" >
    <div class="signin-content">
       <form  [formGroup]="form" (submit)="signin()" >
        <mat-card class="signin-content-form">
          <p class="signin-content-logo">Sign in to continue</p>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" />
            <mat-error *ngIf="getField('email').errors?.required">
              Email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password" type='password' placeholder="Password" />
            <mat-error *ngIf="getField('password').errors?.required">
              Password is required
            </mat-error>
          </mat-form-field>
          
           <!-- TODO: disable button if invalide -->
          <button type="submit" [disabled]="form.invalid" mat-button class="btn">Sign In</button>
           <p class="signin-content-signin"> 
            Dont have an account ? <a routerLink="/sign-up">Sign up</a>
          </p>
  
          <p class="signin-content-signin">
            Sign in withe <a (click)="clic()"
            > 
            <!-- "googleLogin()" -->
            Google</a>
          </p> 
        </mat-card>
      </form> 
    </div>
  </div> 
  